block footer

	footer#footer.footer

		.container

			.footer__inner

				.footer-block

					.footer__logo
						img(src="assets/images/Logo_white.svg", alt="logo")
					.footer__callback
						i.fal.fa-feather
						a(href="#") Обратная связь

				.footer-block
					ul.footer__nav
						li
							a.footer__nav-link(href="#") О нас
						li
							a.footer__nav-link(href="#") Проекты
						li
							a.footer__nav-link(href="#") Направления деятельности
						li
							a.footer__nav-link(href="#") Новости
						li
							a.footer__nav-link(href="#") Лицензии
						li
							a.footer__nav-link(href="#") Контакты

					ul.footer__links
						li
							a.footer__link(href="#") © Моспроект4 ‘ 2022
						li
							a.footer__link(href="#") Карта сайта
						li
							a.footer__link(href="#") Сделано в DI-Project

				.footer-block
					.footer__phone
						a(href="tel:+74992519058") +7 (499) 251 90 58

					ul.footer__socials
						li
							a(href="#")
								i.fab.fa-vk
						li
							a(href="#")
								i.fab.fa-facebook-f
						li
							a(href="#")
								i.fab.fa-instagram