block footer

    header#header.header

        .container

            .header__inner

                .header__logo
                    img(src="assets/images/Logo_white.svg", alt="logo")

                .header__nav
                    ul.nav__menu
                        li.nav__item
                            a.nav__link(href="#") О нас
                        li.nav__item
                            a.nav__link(href="#") Проекты
                        li.nav__item
                            a.nav__link(href="#") Направления деятельности
                        li.nav__item
                            a.nav__link(href="#") Новости
                        li.nav__item
                            a.nav__link(href="#") Лицензии
                        li.nav__item
                            a.nav__link(href="#") Контакты

                .header__phone
                    a(href="tel:+74992519058") +7 (499) 251-90-58

                button.header__btn-mobile
                    span