link(rel="stylesheet", href="assets/css/style.min.css")
<!-- Yandex Map -->
<script src="https://api-maps.yandex.ru/2.1/?apikey=c698a304-7c5a-44c8-afee-a5bc85c76ca7&amp;lang=ru_RU" type="text/javascript"></script>