@import 'base/normalize';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/fontawesome';
@import 'base/reset';
@import 'base/ui';

@import 'plugins/swiper-bundle';
@import 'plugins/jquery-ui.min';

@import 'popup/callback';

@import 'includes/header';
@import 'includes/footer';
@import 'includes/breadcrumbs';

@import 'pages/homepage';
@import 'pages/contacts';
@import 'pages/license';
@import 'pages/about';
@import 'pages/news';
@import 'pages/news-inner';
@import 'pages/specialty';
@import 'pages/projects';
@import 'pages/projects-inner';