///////////////////
/// SLIDER HERO
///////////////////

.hero-section {
    padding-bottom: 115px;

    @include breakpoint(lg) {
        margin-top: -103px;
        padding: 0;
        height: 100vh;
    }
}

.hero__slider {
    position: relative;
    overflow: visible;
}

.slide-image {
    padding: 30px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 220px;
    color: #fff;
    box-sizing: border-box;

    @include breakpoint(sm) {
        height: 300px;
    }

    @include breakpoint(md) {
        padding: 50px 30px;
        height: 485px;
    }

    @include breakpoint(lg) {
        display: block;
        height: 100vh;
    }
}

.slider-gradient {
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(47,60,73,0) 42%,rgba(47,60,73,1) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @include breakpoint(lg) {
        background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(47,60,73,0) 5%,rgba(47,60,73,1) 100%);
    }
}

.slider-desc {
    max-width: 438px;

    @include breakpoint(lg) {
        margin-top: 80px;
        margin-left: auto;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
    }
}

.slide-promo {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
    z-index: 2;

    @include breakpoint(lg) {
        padding-left: 18px;
    }

    @include breakpoint(xl) {
        font-size: 18px;
    }
}

.slide-title {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    z-index: 2;

    @include breakpoint(lg) {
        margin-top: 10px;
        font-size: 36px;
    }

    @include breakpoint(xl) {
        font-size: 48px;
    }
}

.slide-content {
    display: none;

    @include breakpoint(lg) {
        margin-top: 30px;
        position: relative;
        display: block;
        max-width: 350px;
    }

    @include breakpoint(xl) {
        margin-top: 60px;
    }
}

.slide-content::after {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    right: 1px;
    width: 1px;
    height: 100%;
    z-index: 1;
}

.slide-text-content {
    display: none;

    @include breakpoint(lg) {
        padding-right: 60px;
        padding-bottom: 50px;
        position: relative;
        display: block;
        max-width: 350px;
        max-height: 250px;
        font-size: 16px;
        line-height: 27px;
        color: #fff;
        overflow-y: scroll;
        z-index: 1;
        -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }
}

.slide-text-content::-webkit-scrollbar {
    width: 3px;
}

.slide-text-content::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
}

.slide-text-content::-webkit-scrollbar-track {
    background: none;
}

.swiper-hero-nav {
    margin: 0 auto;
    padding: 35px 0;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;

    @include breakpoint(lg) {
        position: absolute;
        bottom: 0;
        width: calc(100% - 60px);
        max-width: 1600px;
    }
}

.button-navigation {
    background: none;
    font-size: 24px;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
        z-index: 1;
    }
}

.button-navigation span {
    font-size: 14px;
}

.button-navigation.button-next {

    @include breakpoint(lg) {
        flex-direction: row-reverse;
    }
}

.button-navigation.button-prev span {

    @include breakpoint(lg) {
        margin-left: 24px;
    }
}

.button-navigation span {
    display: none;

    @include breakpoint(lg) {
        display: inline-block;
        text-align: left;
    }
}

.swiper-hero-nav .slider-pagination {
    width: 100%;

    @include breakpoint(lg) {
        display: flex;
        justify-content: center;
        z-index: 1;
    }
}

.slider-pagination .swiper-fraction {
    display: none;

    @include breakpoint(lg) {
        margin-right: 40px;
        display: inline-block;
    }
}

.slider-pagination span {
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}

.slider-pagination .current-slide-number {
    font-weight: 400;
    font-size: 24px;
}

.swiper-hero-nav .slider-pagination .swiper-pagination {
    position: initial;

    @include breakpoint(lg) {
        display: inline-block;
        width: auto;
    }
}

.swiper-hero-nav .swiper-pagination-bullet {
    margin: 0 20px!important;
    background: #d8dfe6;
}

.swiper-hero-nav .swiper-pagination-bullet-active {
    background: #fff;
    position: relative;
}

.swiper-hero-nav .swiper-pagination-bullet-active::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.slide-link {
    position: absolute;
    bottom: -165px;
    display: flex;
    width: calc(100% - 30px);

    @include breakpoint(md) {
        width: calc(100% - 60px);
    }

    @include breakpoint(lg) {
        position: unset;
        width: 330px;
    }
}

.slide-link-btn {
    margin: 0 auto;
    padding: 25px 60px 25px 15px;
    position: relative;
    width: 100%;
    max-width: 375px;
    border-radius: 5px;

    @include breakpoint(lg) {
        margin-top: 30px;
        background: transparent;
        max-width: 275px;
        color: #fff;
        z-index: 1;
    }
}

.slide-link-btn::after{
    content: '\f178';
    position: absolute;
    right: 30px;
    font-family: $icon;
    font-weight: 300;
    font-size: 24px;
    line-height: 21px;
}

//////////////////
/// NEWS SECTION
/////////////////

.news-section {
    padding: 40px 0 50px;
    background: #fff;
    color: #222;

    @include breakpoint(xl) {
        padding: 80px 0 100px;
    }
}

.news__title-wrap {
    padding: 30px 0;
    position: relative;

    @include breakpoint(xl) {
        position: absolute;
        left: 70px;
        width: 440px;
    }

    @include breakpoint(hd) {
        left: 100px;
    }
}

.news__title-back  {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    font-weight: 800;
    font-size: 114px;
    line-height: 56px;
    text-align: center;
    color: rgba(0, 0, 0, 0.06);
    text-transform: uppercase;

    @include breakpoint(xl) {
        font-size: 150px;
        line-height: 72px;
    }
}

.news__title-main {
    text-align: center;

    @include breakpoint(xl) {
        margin-left: 30px;
    }
}

.news__link-more {
    margin-top: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(xl) {
        margin-top: 50px;
        margin-right: 30px;
        text-align: right;
    }
}

.news__wrapper {

    @include breakpoint(xl) {
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 20px;
        max-width: 1100px;
    }
}

.news__tile {

    @include breakpoint(xl) {
        width: 23.1%;
    }
}

.news__tile:first-child {

    @include breakpoint(xl) {
        margin: 0 0 30px;
        display: flex;
        width: 100%;
    }

    @include breakpoint(hd) {
        width: 98.5%;
    }
}

.news__tile:first-child .news__image {

    @include breakpoint(xl) {
        margin-left: auto;
        width: 100%;
        height: 200px;
        max-width: 360px;
    }

    @include breakpoint(hd) {
        max-width: 390px;
    }
}

.news__image {
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 130px;

    @include breakpoint(md) {
        height: 180px;
    }

    @include breakpoint(lg) {
        height: 170px;
    }
}

.news__date {
    padding: 5px 8px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.news__info {
    max-width: 265px;
}

.news__text {
    margin: 30px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news__tile:first-child .news__text {

    @include breakpoint(xl) {
        margin: 0;
        margin-left: 20px;
        -webkit-line-clamp: 8;
        line-clamp: 8;
    }
}

.news__button-more {
    font-weight: 700;
    font-size: 12px;
    line-height: 42px;
    text-transform: uppercase;
}

.news__tile:first-child .news__button-more {

    @include breakpoint(xl) {
        margin-top: 20px;
        margin-left: 20px;
        line-height: 1;
    }
}

////////////////////
/// ABOUT SECTION
///////////////////

.about-section {
    padding: 50px 0 0;
    background: #f1f1f1;

    @include breakpoint(lg) {
        padding: 0;
        background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    }
}

.about__inner {

    @include breakpoint(lg) {
        margin: 0 auto;
        padding: 0 30px;
        position: relative;
        display: flex;
        max-width: 1600px;
    }
}

.about__inner::after {

    @include breakpoint(lg) {
        content: url("../images/Logo_MP4.svg");
        filter: invert(1);
        position: absolute;
        right: -13%;
        bottom: 44%;
        width: 35%;
        transform: rotate(90deg);
    }
}

.about__first-block {
    padding: 0 30px 40px;

    @include breakpoint(lg) {
        padding: 15px 0 0;
        width: 45%;
    }

    @include breakpoint(hd) {
        padding: 50px 0 0;
    }
}

.about__title {
    margin: 0 0 30px;
}

.about__text {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;

    @include breakpoint(lg) {
        max-width: 500px;
    }
}

.about__stats {
    margin-top: 40px;

    @include breakpoint(lg) {
        margin: 0;
        display: flex;
    }
}

.about__stats-wrap {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    @include breakpoint(lg) {
        margin-top: 25px;
        margin-bottom: 0;
        margin-right: 40px;
    }

    @include breakpoint(hd) {
        margin-top: 50px;
        margin-right: 70px;
    }
}

.stats-count {
    font-weight: 600;
    font-size: 48px;
    line-height: 21px;

    @include breakpoint(lg) {
        font-size: 32px;
    }

    @include breakpoint(xl) {
        font-size: 40px;
    }

    @include breakpoint(hd) {
        font-size: 48px;
    }
}

.stats-text {
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
}

.about__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 42px;
    text-transform: uppercase;

    @include breakpoint(lg) {
        margin-top: 45px;
    }
}

.about__second-block {

    @include breakpoint(lg) {
        background: #fff;
        position: relative;
        width: 48%;
        max-height: 756px;
        overflow: hidden;
    }
}

.about__second-block::before {

    @include breakpoint(lg) {
        content: '';
        background: #f1f1f1;
        position: absolute;
        left: 0;
        width: 88px;
        height: 100%;
        opacity: 0.8;
    }
}

.about__second-block img {
    width: 100%;

    @include breakpoint(lg) {
        height: 100%;
        max-width: 810px;
    }

    @include breakpoint(xl) {
        height: auto;
    }
}