.header {
    padding: 20px 0 25px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);

    @include breakpoint(lg) {
        padding: 34px 0;
    }
}

.index-page .header {

    @include breakpoint(lg) {
        padding: 26px 0;
    }
}

.header__inner {

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.header__logo {
    width: 100%;
    max-width: 250px;

    @include breakpoint(lg) {
        flex: 1 1 50%;
        max-width: 220px;
        z-index: 2;
    }

    @include breakpoint(hd) {
        max-width: 345px;
    }
}

.img-logo-white {
    display: none;
}

.index-page .img-logo-white {
    display: block;
}

.index-page .img-logo-black {
    display: none;
}

.header__nav {
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    width: 100%;
    z-index: 2;

    @include breakpoint(lg) {
        position: initial;
        background: none;
        display: block;
        flex: 1 1 50%;
    }
}

.nav__menu {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(lg) {
        padding: 0;
        flex-direction: row;
        justify-content: center;
    }
}

.nav__item {
    padding: 15px 0;

    @include breakpoint(lg) {
        margin: 0 10px;
        position: relative;
    }

    @include breakpoint(hd) {
        margin: 0 18px;
    }
}

.nav__item.current-page::after {

    @include breakpoint(lg) {
        content: '';
        background: #2f3c49;
        position: absolute;
        bottom: -34px;
        width: 100%;
        height: 3px;
    }
}

.nav__link {

    @include breakpoint(lg) {
        font-weight: 600;
        line-height: 21px;
        color: #2f3c49;
        text-transform: uppercase;
    }

    @include breakpoint(xl) {
        font-size: 16px;
    }
}

.index-page .nav__link {

    @include breakpoint(lg) {
        color: #fff;
    }
}

.index-page .nav__link:hover {
    color: #c1c1c1;
}

.header__phone a {
    margin-top: 24px;
    font-weight: 300;
    font-size: 24px;
    line-height: 21px;
    color: #2f3c49;

    @include breakpoint(lg) {
        margin: 0;
        position: relative;
        font-weight: 700;
        font-size: 16px;
        z-index: 2;
    }
}

.index-page .header__phone a {
    color: #fff;
}

.header__btn-mobile {
    background: transparent;
    position: absolute;
    top: 5px;
    right: 15px;

    @include breakpoint(lg) {
        display: none;
    }
}

.header__btn-mobile span {
    background: #000;
    position: relative;
    display: inline-block;
    height: 2px;
    width: 22px;
    transition: all 0.3s ease;
}

.index-page .header__btn-mobile span {
    background: #fff;
}

.header__btn-mobile span::before {
    content: "";
    background: #000;
    position: absolute;
    left: 0;
    top: -7px;
    display: inline-block;
    height: 2px;
    width: 22px;
    transition: all 0.3s ease;
}

.index-page .header__btn-mobile span::before {
    background: #fff;
}

.header__btn-mobile span::after {
    content: "";
    background: #000;
    position: absolute;
    left: 0;
    bottom: -7px;
    display: inline-block;
    height: 2px;
    width: 22px;
    transition: all 0.3s ease;
}

.index-page .header__btn-mobile span::after {
    background: #fff;
}

.header__btn-mobile.opened span {
    background: none;
}

.header__btn-mobile.opened span::before {
    top: 0px;
    transform: rotate(45deg);
}

.header__btn-mobile.opened span::after {
    top: 0px;
    transform: rotate(-45deg);
}