---
title: МОСПРОЕКТ 4 | Лицензии
license_page: true
---

extends includes/_page

block main

    .breadcrumbs

        .container

            .breadcrumbs__inner

                a.breadcrumbs-item(href="/") Главная
                span.breadcrumbs-separator —
                span.breadcrumbs-item(href="/") Контакты

    section.license-section

        .container

            h2.section-title.page-title Лицензии

        .license__inner

            .container

                .license__block

                    .license__aside

                        h3.license__title Список лицензий

                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p voluptatem accusantium doloremque laudantium

                    .license__wrapper

                        .license__item
                            img(src="assets/images/GARHI-1.jpg", alt="img")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            a.zoom-btn Увеличить

                        .license__item
                            img(src="assets/images/1-21-2019w(1-2).jpg", alt="img")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            a.zoom-btn Увеличить

                        .license__item
                            img(src="assets/images/2-21-2019w(2-2).jpg", alt="img")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            a.zoom-btn Увеличить

                        .license__item
                            img(src="assets/images/GARHI-1.jpg", alt="img")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            a.zoom-btn Увеличить

                        .license__item
                            img(src="assets/images/GARHI-1.jpg", alt="img")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            a.zoom-btn Увеличить

                        .license__item
                            img(src="assets/images/1-21-2019w(1-2).jpg", alt="img")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            a.zoom-btn Увеличить

                        .license__item
                            img(src="assets/images/2-21-2019w(2-2).jpg", alt="img")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            a.zoom-btn Увеличить
