---
title: МОСПРОЕКТ 4 | Проекты
projects_page: true
---

extends includes/_page

block main

    .breadcrumbs

        .container

            .breadcrumbs__inner

                a.breadcrumbs-item(href="/") Главная
                span.breadcrumbs-separator —
                span.breadcrumbs-item(href="/") Проекты

    section.project-section

        .container

            h2.section-title.page-title Проекты

            .project__header

                ul.project__nav

                    li.project__nav-item.active
                        a.project__nav-link(href="#") Все проекты

                    li.project__nav-item
                        a.project__nav-link(href="#") Жилая, социальная архитектура

                    li.project__nav-item
                        a.project__nav-link(href="#") Здравоохранение

                    li.project__nav-item
                        a.project__nav-link(href="#") Культура

                    li.project__nav-item
                        a.project__nav-link(href="#") Спорт

                    li.project__nav-item
                        a.project__nav-link(href="#") Конкурсы


        .project__inner

            .project__block
                .project-article

                    .project-article__wrapper
                        h3.project__title Название проекта
                        a.project__address(href="#") Москва, ул. Ивана  Иванова, д 23
                        p.project__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        a.project__link(href="#") Подробнее о проекте

                .project-image
                    .swiper.project__slider

                        .swiper-wrapper

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_1.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_1.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_1.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_1.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_1.jpg')")

                        .slide-navigation

                            .swiper-project-nav
                                button.button-navigation.button-prev
                                    i.fal.fa-arrow-left
                                    span Пред. фото

                                .slider-pagination
                                    .swiper-fraction
                                        span.current-slide-number
                                        span(style="margin: 0 5px;") /
                                        span.last-slide-number
                                    .swiper-pagination

                                button.button-navigation.button-next
                                    i.fal.fa-arrow-right
                                    span След. фото

            .project__block
                .project-article

                    .project-article__wrapper
                        h3.project__title Название проекта
                        a.project__address(href="#") Москва, ул. Ивана  Иванова, д 23
                        p.project__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        a.project__link(href="#") Подробнее о проекте

                .project-image
                    .swiper.project__slider

                        .swiper-wrapper

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_2.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_2.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_2.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_2.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_2.jpg')")

                        .slide-navigation

                            .swiper-project-nav
                                button.button-navigation.button-prev
                                    i.fal.fa-arrow-left
                                    span Пред. фото

                                .slider-pagination
                                    .swiper-fraction
                                        span.current-slide-number
                                        span(style="margin: 0 5px;") /
                                        span.last-slide-number
                                    .swiper-pagination

                                button.button-navigation.button-next
                                    i.fal.fa-arrow-right
                                    span След. фото

            .project__block
                .project-article

                    .project-article__wrapper
                        h3.project__title Название проекта
                        a.project__address(href="#") Москва, ул. Ивана  Иванова, д 23
                        p.project__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        a.project__link(href="#") Подробнее о проекте

                .project-image
                    .swiper.project__slider

                        .swiper-wrapper

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_3.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_3.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_3.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_3.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_3.jpg')")

                        .slide-navigation

                            .swiper-project-nav
                                button.button-navigation.button-prev
                                    i.fal.fa-arrow-left
                                    span Пред. фото

                                .slider-pagination
                                    .swiper-fraction
                                        span.current-slide-number
                                        span(style="margin: 0 5px;") /
                                        span.last-slide-number
                                    .swiper-pagination

                                button.button-navigation.button-next
                                    i.fal.fa-arrow-right
                                    span След. фото

            .project__block
                .project-article

                    .project-article__wrapper
                        h3.project__title Название проекта
                        a.project__address(href="#") Москва, ул. Ивана  Иванова, д 23
                        p.project__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        a.project__link(href="#") Подробнее о проекте

                .project-image
                    .swiper.project__slider

                        .swiper-wrapper

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_4.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_4.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_4.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_4.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_4.jpg')")

                        .slide-navigation

                            .swiper-project-nav
                                button.button-navigation.button-prev
                                    i.fal.fa-arrow-left
                                    span Пред. фото

                                .slider-pagination
                                    .swiper-fraction
                                        span.current-slide-number
                                        span(style="margin: 0 5px;") /
                                        span.last-slide-number
                                    .swiper-pagination

                                button.button-navigation.button-next
                                    i.fal.fa-arrow-right
                                    span След. фото

            .project__block
                .project-article

                    .project-article__wrapper
                        h3.project__title Название проекта
                        a.project__address(href="#") Москва, ул. Ивана  Иванова, д 23
                        p.project__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        a.project__link(href="#") Подробнее о проекте

                .project-image
                    .swiper.project__slider

                        .swiper-wrapper

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_5.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_5.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_5.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_5.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_5.jpg')")

                        .slide-navigation

                            .swiper-project-nav
                                button.button-navigation.button-prev
                                    i.fal.fa-arrow-left
                                    span Пред. фото

                                .slider-pagination
                                    .swiper-fraction
                                        span.current-slide-number
                                        span(style="margin: 0 5px;") /
                                        span.last-slide-number
                                    .swiper-pagination

                                button.button-navigation.button-next
                                    i.fal.fa-arrow-right
                                    span След. фото

            .project__block
                .project-article

                    .project-article__wrapper
                        h3.project__title Название проекта
                        a.project__address(href="#") Москва, ул. Ивана  Иванова, д 23
                        p.project__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        a.project__link(href="#") Подробнее о проекте

                .project-image
                    .swiper.project__slider

                        .swiper-wrapper

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_6.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_6.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_6.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_6.jpg')")

                            .swiper-slide
                                .project-image__wrap(style="background-image: url('assets/images/project_6.jpg')")

                        .slide-navigation

                            .swiper-project-nav
                                button.button-navigation.button-prev
                                    i.fal.fa-arrow-left
                                    span Пред. фото

                                .slider-pagination
                                    .swiper-fraction
                                        span.current-slide-number
                                        span(style="margin: 0 5px;") /
                                        span.last-slide-number
                                    .swiper-pagination

                                button.button-navigation.button-next
                                    i.fal.fa-arrow-right
                                    span След. фото

        .project-pagination

            .container

                .project__pagination

                    .pagination-wrap
                        a.pagination-arrow.arrow-left(href="#")
                            i.fal.fa-chevron-left

                        .pagination-items
                            a.active(href="#") 1
                            a(href="#") 2
                            a(href="#") 3
                            a(href="#") 4
                            a(href="#") 5

                        a.pagination-arrow.arrow-right(href="#")
                            i.fal.fa-chevron-right

                    .pagination-show-more
                        a(href="#") Показать еще проекты

