---
title: МОСПРОЕКТ 4 | Направления деятельности
specialty_page: true
---

extends includes/_page

block main

    .breadcrumbs

        .container

            .breadcrumbs__inner

                a.breadcrumbs-item(href="/") Главная
                span.breadcrumbs-separator —
                span.breadcrumbs-item(href="/") Направления деятельности

    h2.section-title.specialty__title Направления деятельности

    section.specialty-section

        .container

            .specialty__inner

                a.specialty__block(href="#" style="background-image: url('assets/images/Фили_наб-12-1m.jpg')")
                    span.specialty-title Жилая, социальная архитектура

                a.specialty__block(href="#" style="background-image: url('assets/images/01_m.jpg')")
                    span.specialty-title Здравоохранение

                a.specialty__block(href="#" style="background-image: url('assets/images/02-GTG.jpg')")
                    span.specialty-title Культура

                a.specialty__block(href="#" style="background-image: url('assets/images/2-w.jpg')")
                    span.specialty-title Спорт

                a.specialty__block(href="#" style="background-image: url('assets/images/2-6_IZMAYLOVO_Sir-Bulv.jpg')")
                    span.specialty-title Конкурсы

            .specialty__text
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.